<body>
{% block navbar %}

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header navbar-collapse">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index"> NedCow </a>
        </div>

        <ul class="nav navbar-nav gradient-box-small" id="opt1">
            <li>
                <form method="post" class="navbar-form" action="" id="opt1" name="search">
                    <label for="product-search">Sort by:</label>
                    <div class="input-group">
                    {{ form.title.label }}
                    {{ form.title() }}
                    <input type="submit" value="Send">
                    </div>
                </form>
           </li>
        </ul>
    </div>
</nav>

{% endblock %}
<body>
{% block content %}
<h3> Delay Prediction: {{ prediction }} </h3>
<p><h4> [0] = No Delay </h4></p>
<p><h4> [1] = Delay of more than 5 minutes </h4></p>
{% endblock %}
</body>

